<!-- 하단부 공통영역 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<!-- Spring boot는 기본적으로 src/main/resources/static에 위치한 자바스크립트, CSS,이미지등 정적 파일들은 URL에서 /로 설정됨 -->
<!-- 2020. 01 . 02 script추가시에 한줄로 한다고 />로 마무리 지었더니 인식을 하지 않는다... </script>로 닫는거 유의하자 -->
<script src="/js/app/index.js"></script>
</body>
</html>