{{>layout/header}}  <!-- 현재 머스테치 파일을 기준으로 다른파일을 가져온다 ( = import) -->
        <h1>머스타치 3번째 시간</h1>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>
                </div>
            </div>
        <!-- 목록 출력 영역 -->
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <!-- -->
                <!--
                    mustache 문법
                    \{\{#posts\}\}
                        posts라는 List를 순회한다.
                    Java의 for문
                    \{\{id\}\}등의 변수명
                        List에서 뽑아낸 객체의 필드를 사용한다
                -->
                <!-- posts에 대한 루프 시작 -->
                {{#posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{content}}</td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/posts}}
                <!-- posts에 대한 루프 종료 -->
            </tbody>
        </table>
    </div>
{{>layout/footer}}
